.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 70px;
}

.main-content {
  flex: 1;
  padding: 0;
}

@media (min-width: 768px) {
  .layout {
    padding-bottom: 0;
  }
  
  .main-content {
    padding: 0;
  }
}
